<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Producto</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='agregar_producto.css') }}">

</head>
<body>
    <div class="container">
        <header>
            <h1>Añadir Nuevo Producto</h1>
            <a href="{{ url_for('dashboard_vendedor') }}" class="btn">Volver al Dashboard</a>
        </header>

        <form method="POST" enctype="multipart/form-data">
    <input type="text" name="nombre" placeholder="Nombre del producto" required>
    <input type="number" name="precio" placeholder="Precio" required>
    <textarea name="descripcion" placeholder="Descripción del producto" required></textarea>
    <input type="text" name="telefono_contacto" placeholder="Teléfono de contacto" required>

    <label for="imagenes">Selecciona al menos 5 imágenes (máximo 5)</label>
    <input type="file" name="imagenes" multiple required>

    <button type="submit">Agregar Producto</button>
</form>

    </div>
</body>
</html>
